.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    .footer-login {
        text-align: center;
        width: 100%;
        max-width: 324px;
        font-size: 11px;
        padding: 32px;
        color: var(--text-subdued);
        a {
            color: var(--text-subdued);
            text-decoration: underline;
        }
    }
}
