.container {
    width: 100%;
    max-width: 436px;
    flex: 1;
}

.allProcess {
    position: relative;
    height: 2px;
    background-color: var(--essential-subdued, #878787);
}

.process {
    position: absolute;
    transition: all 200ms ease 0s;
    width: 33.3333%;
    height: 2px;
    top: 0;
    left: 0;
    background-color: var(--essential-bright-accent, #169b45);
}

.box-info {
    display: flex;
    justify-content: start;

    .box-arrow {
        display: flex;
        align-items: center;
        justify-content: start;
        color: var(--text-subdued, #a7a7a7);
        width: 56px;
        padding: 16px;
        cursor: pointer;
    }

    .box-step {
        padding: 16px 0;
    }

    .step {
        color: var(--text-subdued, #6a6a6a);
        margin: 0;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 4px;
    }

    .step-info {
        margin: 0;
        font-size: 16px;
    }
}

.box-content {
    width: 100%;
    max-width: 324px;
    margin-top: 16px;

    .box-password {
        animation: FadeIn 0.75s ease;
    }

    .content {
        width: 100%;
    }
}

.box-validate {
    margin-bottom: 32px;
    .title {
        margin: 0;
        font-size: 14px;
    }

    .condition {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-top: 8px;
    }

    .condition-des {
        margin-left: 8px;
    }

    .text-error {
        color: var(--text-negative, #d31225);
    }
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
